* {
    margin: 0;
    padding: 0;
}
/*
body {
   /* min-width: auto;
}
*/
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix::after {
    clear: both;
    display: block;
    content: ' ';
}

#pageheader img {
    width: 120px;
    height: 70px;
   /* margin: 6 0 8 60;*/
}

.maincontainer {
    position: relative;
}

.promo {
    position: absolute;
    top: 20px;
    left: 500px;
    background-color: #003333;
    width: 500px;
    height: 270px;
}

.promo img {
    margin-left: 50px;
}

#pageheader .title {
    color: white;
    margin: 20px 0px 20px 10px;
    font-size: 25px;
    font-family: 'Sofadi One', cursive;
}

.container {
    margin-top: 70px;
}

#pageheader {
    max-width: 100%;
    z-index: 1;
    background-color: rgba(0, 160, 120, 0.5);
    position: fixed;
    width: 100%;
    height: 80px;
}

.pagenavbar button {
    background: none;
    border: none;
    height: 30%;
    color: white;
}

    .pagenavbar button p {
        margin: 20px 15px 20px 10px;
        font-size: 20px;
    }

.search input {
    height: 30px;
    width: 100%;
    border-radius: 20px;
    border-color: transparent;
    min-width: 30px;
    margin: 25px 0px 0px 190px;
    padding: 3px 0px 5px 10px;
}

.search {
    position: relative;
}

.searchbutton {
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: black;
}

.fa-search {
    color: black;
    position: absolute;
    top: 30px;
    right: -180px;
}

.fa-shopping-cart {
    padding-left: 30px;
    margin: 15px 20px;
    color: white;
    border-left: solid #e0e0d1 2px;
}

.flex-column {
    background-color: #eaeafa;
    height: 80%;
   /* padding-top: 20;*/
    border-right: solid 1px lightgrey;
    width: 15.4%;
}

.flex-column .nav-link {
    color: #003333;
    font-size: 20px;
    border-bottom: solid lightgrey 2px;
}

#navBarContainer {
    width: 17%;
    height: 100%;
    background: rgba(0, 90, 60, 0.3);
    min-width: 165px;
    max-width:200px;
    position: fixed;
    padding-left:50px;
    margin-top: 80px;
}
#navBarContainer a {
    min-width: 18%;
   /* background: grey,0.1;*/
    color: black;
    font-size: 20px;
    display: block;
    padding: 12px;
    text-decoration: none;
    border-bottom: solid rgba(0, 90, 60, 0.2) 2px;
}

#navBarContainer a:hover {
    color: white;
    /*background: rgba(0,160,120);*/
}

#navBarContainer a:active {
    color: black;
    font-size: 25px;
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.card {
    width: 40rem;
    height: 600px;
    margin: 20px;
    background-color: #f5f5f0;
    min-width: 40%;
    min-height: 50%;
    padding-left: 0px;
    padding-right: 0px;
}
h4 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}
.card-img-top {
    width: 100%;
    height: 400px;
    margin-bottom:10px;
    
}
.card-body{
    padding-left:15px;
    padding-right:15px;
}
.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}
.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}
.btn-primary{
    position:absolute;
    bottom:15px;
    right:10px;
}
.container, .col-lg-10 {
    width: 75%;
}

.container, .col-md-6 {
    width: 85%;
}
.card, .col-md-3 {
    width: 45%;
}

.button-popup a{
    color:white;
    font-weight:bold;
    text-decoration:none;
    z-index:10;
}

.window-popup{
    width:120%;
    height:100%;
    position:fixed;
    z-index:10;
    background:rgba(0,0,0,0.7);
    top:0;
    left:0;
    display:none;
}

.wp-content{
    width:900px;
    height:600px;
    background:white;
    border-radius:3px;
    position:absolute;
    left:20%;
    top:10%;
}
    
    .wp-content a{
        padding:10px;
        background:#3498db;
        color:white;
        text-decoration:none;
        position:absolute;
        right:20px;
        bottom:20px;
        border-radius:5px;
    }
.wp-content .col-lg-10 {
    width: 75%;
}

.wp-content .col-md-6 {
    width: 60%;
}

.wp-content .col-md-3 {
    width: 50%;
}

.image-carousel {
    width: 800px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: 0;
}
.wp-content {
    padding:0;
}
.image-carousel .inner {
    width: 900px;
    height: 600px;
    position: absolute;
    z-index: 7;
    left: 0;
    padding: 0;
   
}
.inner img {
    width: 900px;
    height: 600px;
}